/autostart
/BetterDiscord
/BetterDiscordInstaller
/blender
/bpytop
/cava
/cef_user_data
/coc
/Code
/codeblocks
/cointop
/configstore
/dconf
/discord
/Epic
/eww
/fontforge
/gconf
/GIMP
/gtk-2.0
/gtk-3.0
/htop
/inkscape
/jgit
/Kingsoft
/ksnip
/libfm
/libreoffice
/lsd
/lunarclient
/lutris
/menus
/Microsoft
/neofetch
/nitrogen
/obs-studio
/octopi
/oomax
/pcmanfm
/pomotroid
/procps
/projectM
/pulse
/qt5ct
/spicetify
/spotify
/spotify-tui
/stacer
/teams
/unity3d
/vlc
./QtProject.conf
./glade.conf
./kritadisplayrc
./kritarc
./mimeapps.list
./pavucontrol.ini
./user-dirs.dirs
./user-dirs.locale
